.menu-content{
    position: relative; 
    background-color: white; 
    border-radius: 10px; 
    margin-left: 5vw; 
    margin-right: 5vw; 
}


.block{
    width:100%; 

    padding-top: 10px; 
    padding-bottom: 10px; 
} 

.block .innerBlock{
    background-color: white; 
    display: block; 

}

.block .content{
    float: left; 
    width: 80%; 
    padding-left: 10px;
}

.block .title{
    font-size: 2rem; 
}

.block .timeStamp{
    font-size: 0.75rem;
    color: gray;  
    padding-bottom: 0.5rem; 
}

.block .text{
    font-size: 1rem; 
    color: gray; 
}

.block .innerBlock img{
    all: initial;
    float: right; 
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;   
    padding: 10px;
}

.block .seeMore{
    display: block; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    padding-left: 10px; 
    padding-right: 10px;
    background-color: bisque; 
}

.block .seeMore p{
    display: inline-block; 
    vertical-align: middle; 
    font-size: 1rem; 
    padding: 0; 
    padding-right: 5px; 
    margin: 0; 
}

.block .seeMore img{
    all: initial;
    vertical-align: middle; 
    height: 1.3rem; 
    padding: 0; 
    margin: 0; 
    padding-right: 2px; 
}