h2 {
    text-transform: capitalize;
    color: var(--font-color); 
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
}

html, body {
    font-family: 'Montserrat', sans-serif;
}

.titlebackground{ 
    position: relative;
    display: cover;  

    overflow: hidden;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 30%; 

    min-height: 700px; 
    height: 70vh; 
    object-fit: cover;
    width: 100%;

}

.titlebackground .title { 
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 4vw; 
    padding-right: 4vw; 
    padding-top: 5vh; 
    padding-bottom: 5vh; 

    max-width: 700px; 
    float: right;
    height: 100%;
}

.title h1{
    padding-top: 20vh; 
    color: var(--font-color);
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 500;
}

.title p{
    color: var(--font-color);
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

@media (max-width:600px){
    .title h1{
        padding-top: 0;
    }

    .titlebackground{
        min-height: 500px; 
    }
    

}
