html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    --special-highlight-color: #007d7d;
    --font-color: black; 
}

.image-block-lord{ 
    text-align: center;
}
.image-block{
    display: block; 
    width: auto;
    padding-top: 2vh; 
    padding-bottom: 5vh; 
}

img {
    display: inline-block; 
    width: 30vw; 
    padding-left: 10px; 
    padding-right: 10px; 
}

@media (max-width:575.98px){
    img{
        display: block; 
        width: 80vw; 
        padding-top: 10px; 
        padding-bottom: 10px;
    }
}

.titlePage{
    height: 50vh; 
    text-align: center; 
    padding-top: 20vh; 
    padding-left: 15px; 
    padding-right: 15px; 
    background-color: white; 

}

.titlePage h1{
    color: var(--special-highlight-color);
    font-weight: var(--font-weight);
    font-size: 2rem;
}

.titlePage .subtitle{
    color: gray; 
    size: 1rem; 
}

hr{
    margin-top: 0; 
    width: 50%; 
    height:1px; 
    border-width:0; 
    background-color:lightgray;
}

.block{
    padding-top: 10vh; 
    background-color: rgb(241, 241, 241)
}
