html, body {
    font-family: 'Montserrat', sans-serif;
    display:block; 

}

.titlebackground{ 
    position: relative;
    display: cover;  

    overflow: hidden;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 30%; 

    min-height: 700px; 
    height: 70vh; 
    object-fit: cover;
    width: 100%;

}

.titlebackground .title { 
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 4vw; 
    padding-right: 4vw; 
    padding-top: 5vh; 
    padding-bottom: 5vh; 

    max-width: 700px; 
    float: right;
    height: 100%;
}


.title h1{
    color: var(--font-color);
    text-transform: capitalize;
    font-size: 4rem;
    font-weight: 500;
}

.title p{
    color: var(--font-color);
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
}

.github{
    background-size: fill;
    
    display: flex;
    justify-content: right;
    align-items: right;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.github a{
    text-decoration: none;
    text-align: center;
}

.github .inside{
    width: 70vw; 
    align-items: left;
}

.github img{
    flex-shrink: 0;
    height: 20vh;
    width: auto;
    object-fit: cover;
    float: left; 
    margin: 0;
    padding: 0; 
}

.github p{ 
    color: var(--font-color); 
    font-weight: 300; 
    margin: 0; 
    padding: 0; 
    font-size: 5vmin;

}

.github .inside .column {
    float: left;
    margin: 0;
    padding: 0; 
    width: auto;
    text-align: center; 
    height: 100%; 


    min-height: 20vh; 
    line-height: 20vh; 

    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center;
  }
  
.github .inside:after {
    content: "";
    display: table;
    clear: both;
  }

.github:hover .inside{
    width: 75vw; 
}
.github:hover img{
    padding-right: 5vw; 
}

.caption{
    display: block; 
    margin-left: 2vw; 
}

.caption p{ 
    color: lightgray; 
    font-size: 0.7rem; 
}


@media (hover: hover) and (pointer: fine) {
    .titlebackground .title:hover{
        background-color: rgba(0,0,0, 0.9);
    }

    .titlebackground{
        background-position: 30%; 
    }
  }

@media (max-width:600px){
    .github p{ 
        writing-mode: vertical-rl;
        font-size: 100%; 
        color: black; 
    }

    .title p{
        font-size: 1rem; 
    }

    .caption p{
        font-size: 0.5rem; 
    }

}

  