.sidePanel{ 
  background-color: teal;
  width: 70vw; 
  float: right; 
  height: 80vh; 
  margin-bottom: 10vh; 
  display:block; 

  border-radius: 8px;
  opacity: 0;
  transform: scale(1.05);
  position: relative;
}

.sidePanel h1{
  writing-mode: vertical-rl;
  color: teal; 
  transform: rotate(180deg);
  float:right; 
  margin-right: 70vw; 
  font-size: 6rem; 
}

@media (prefers-reduced-motion: no-preference) {
  .sidePanel {
    transition: opacity 1.5s ease, transform 1.5s ease;
  }
}

.sidePanel-transition {
    opacity: 1;
    transform: none;
}

.intro{
    height: 270vh; 
}

.banner {
  background: white;
  width: 100%; 
  padding-top: 10vh; 
  padding-bottom: 10vh; 
}

.banner h1{
  text-align: center; 
  font-size: 4rem;
  font-weight: 1000;
}
