html, body {
  font-family: 'Montserrat', sans-serif;
}

.titleWrapper{
  text-align: center;
  height: 90vh;
  margin-top: 30vh; 
}

.typewriter{
    display: block; 
}

.typewriter .line {
  display: inline-block; 
}

.mobile-display{display:none}
.desktop-display{display:block}

@media (max-width:575.98px){
  .desktop-display {display:none}
  .mobile-display {display:block}

  .typewriter .jobTitle1 {
    color: var(--font-color); 
    font-size: 2rem;
    font-weight: var(--font-weight);
    width: 0; 

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: 
      typing 1.5s steps(20, end) forwards,
      blinking 1s 1.5;
  }

  .typewriter .jobTitle2 {
    color: var(--font-color); 
    font-size: 2rem;
    font-weight: var(--font-weight);
    width: 0; 

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: 
      typing 1.5s steps(20, end) forwards,
      blinking 1s 1.5;
    animation-delay: 1.5s;
  }
}

  .typewriter .jobTitle{
    color: var(--font-color); 
    font-size: 2rem;
    font-weight: var(--font-weight);
    width: 0; 

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: 
      typing 3s steps(20, end) forwards,
      blinking 1s 3;
  }

  

.typewriter .jobDates{ 
    text-transform: capitalize;
    color: var(--font-color); 
    font-weight: var(--font-weight);
    font-size: 1rem; 
    padding-top: 1vh;
    width: 0; 

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: 
      typing 2s steps(20, end) forwards,
      blinking 1s infinite;
    animation-delay: 3s;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blinking {
    from{ border-color: transparent }
    to { border-color: var(--highlight-color); }
  }

  .block img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:70vw;
  }

  .imageComment{
    text-align: center;
  }

  .imageComment p{
    color: var(--font-color);
    font-size: 1.25rem;
    margin-top: 1vh; 
    margin-left: 3vw;
    margin-right: 3vw; 
  }

  ul{
    padding-top: 2rem; 
    padding-bottom: 2rem; 
  }

  .comment{
      background-color: rgb(54, 54, 54);
      text-align: left;

      padding: 0.5rem 1rem 1rem 1rem;
  }

  .commentBox{
      background-color: rgb(255, 255, 255);
      padding: 0.5rem 1rem 1rem 1rem;
      border-radius: 1rem;
      margin-left: 10vw; 
      margin-right: 10vw; 
  }

  .comment h1{
      margin-left: 10vw; 
      color: var(--highlight-color); 
      font-size: 3rem; 
      padding-bottom: 2rem; 
      font-weight: 100;
  }
  .comment p{
      color: var(--font-color-inverse); 
      font-size: 1.5rem; 
  }
