:root{
    --font-color: white; 
    --highlight-color: #00e6e6;
    --background-color: black; 
    --font-color-inverse: black; 
    --subtitle-color: rgb(209, 209, 209); 
    --font-weight: 100; 
}

html, body {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--background-color);
    margin: 0; 
}

ul.a {
    list-style-type: circle;
  }

.navigation{
    padding-top: 30px;  
    padding-bottom: 30px; 
    padding-left: 35px;
    padding-right: 35px; 
    background-color: black;
    overflow-x: auto; 
    white-space: nowrap;
    
}

.navigation a{
    text-decoration: none;
    color: var(--highlight-color);
    font-weight: 500;
    font-size: 2rem; 
    margin-left: 35px;
    margin-right: 35px; 
    
}

.content{
    text-align: center; 
    overflow: hidden; 
    margin-top: 3vh; 
}

.content h2{
    text-transform: capitalize;
    color: var(--subtitle-color); 
    font-size: 1.3rem;
    font-weight: 300;
}

.content p{
    color: var(--font-color); 
    font-size: 1.5rem;
    font-weight: 500;
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}

.block{
    text-align: left;
    padding-left: 10vw; 
    padding-right: 10vw; 
}

.block h1 {
    text-transform: capitalize;
    color: var(--font-color); 
    font-size: 3rem;
    font-weight: var(--font-weight);
}

.block p, li{
    color: var(--font-color); 
    font-size: 1.5rem;
    font-weight: var(--font-weight);
    
}

.block h2{
    text-transform:none;
    color: var(--font-color);
    font-size: 1.5rem;
    font-weight: var(--font-weight);
    padding-bottom: 1.5rem; 
}

.block h1, h2, p, li{
    line-height: 1.5;
    margin-bottom: 1rem;
}

.skill{
    float: left;
    width: auto;
    padding: 10px;
    color: var(--font-color); 
    border-style: solid;
    border-color: var(--highlight-color); 
    border-radius: 1.5rem;
    margin-left: 1vw;
    margin-bottom: 2vh;
}

.skills:after{
    content: "";
    display: table;
    clear: both;
    
}

.award {
    background-image: url('../portfolio-pictures/medal.png');
    overflow: hidden;
    background-repeat:no-repeat;
    background-position: top; 
    display:cover; 
    background-size: 100% auto;

    position: fixed;
    bottom: 0;
    right: 0px;

    width: 6vw;
    min-width: 150px; 
    max-width: 250px;

    margin-right: 1vw;
    text-align: center;
}

.award a{
    text-decoration: none;
}

.award p{
    color: black; 
    font-size: 1.25rem;
    padding-bottom: 3vh;
}

.award:hover{
    margin-bottom: 1rem;
}

.comment{
    background-color: rgb(54, 54, 54);
    text-align: left;
    padding: 1vw 5vw 5vw 5vw; /* top right bottom left*/
}

.commentBox{
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 1rem 1rem 1rem;
    border-radius: 1rem;
}

.comment h1{
    text-align: center; 
    color: var(--highlight-color); 
    font-size: 3rem; 
    font-weight: 100;
}
.comment p{
    color: var(--font-color-inverse); 
    font-size: 1.5rem; 
}
