:root{
  --font-color: white; 
  --highlight-color: black;
  --background-color: rgb(255, 252, 245); 
  --font-color-inverse: black; 
  --subtitle-color: rgb(209, 209, 209); 
  --font-weight: 100; 
}

html, body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--background-color);
  margin: 0; 
}

.navigation{
  padding-top: 30px;  
  padding-bottom: 30px; 
  background-color: white;
  z-index: 1;
  white-space: nowrap;

  width: 200px;
  height: 100%; 
  position: fixed;
  top: 0;
  left: 0;
}

.navigation a{
  text-decoration: none;
  color: var(--highlight-color);
  font-size: 2rem; 
  margin-top: 20px;
  margin-left: 15px; 
  display: block;  
}

.menu{
  margin-left: 200px; 
  max-width:100%; 
  position: relative; 
  background-color: transparent;
}

.menu img{
  position:absolute;
  z-index: 0;
  object-fit: cover;
  width: 100%; 
  min-height: 60vh;
  max-height: 80vh; 
  background-color: transparent;
}

.menu .menu-title{
  position:absolute;
  z-index:1;
  text-align: center; 
  color: white; 
  font-size: 5rem; 
  padding-bottom: 20vh; 
  padding-top: 20vh; 
  width: 100%; 
}

.menu .menu-content-wrapper{
  margin-top: 60vh; 
  position: absolute; 
  z-index: 1; 
  background-color: transparent;
} 

.menu .map-container{
  background-color: white; 
  max-width: 80vw; 
  height: 80vh; 
  margin-left: 10vw; 
  margin-right: 10vw; 
  padding: 10px; 
  border-radius: 10px; 
}

.menu-content-wrapper{
  width: 70%; 
}

.menu-content{
  position: relative; 
  background-color: white; 
  margin-left: 10vw; 
  margin-right: 10vw; 
  padding: 10px; 
  border-radius: 10px; 
}